<a href="https://colab.research.google.com/github/isukapallipraveenvarma/python/blob/master/pythonwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s2="abc"
s2=s2.replace('b','z')
print(s2)

azc

In [ ]:

##accept a string from the user and count
1.no.of alphabets
2.no.of digits
3.no.of lower case characters
4.no.of upper case characters
5.no.of vowel in the string#

SyntaxError: ignored

In [ ]:
a=input("enter a string");
alphabets=0
digits=0
lower=0
upper=0
for i in a:
  if i.isalpha():
    alphabets+=1
  if i.isdigit():
     digit+=1 
  if i.islower():
    lower+=1
  if i.isaupper():
    upper+=1 
print(alp)

enter a stringpv24
1
2
2
2

In [ ]:
a={1,2,3,4,5}
b={4,5,6,7,8}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [ ]:
a={"name":"praveen","college":"gitam"}
print(a["college"])
a["course"]="PYTHON"
print(a)
a["course"]="java"
print(a)
print(a.keys())
print(a.values())
print(a.items())

gitam
{'name': 'praveen', 'college': 'gitam', 'course': 'PYTHON'}
{'name': 'praveen', 'college': 'gitam', 'course': 'java'}
dict_keys(['name', 'college', 'course'])
dict_values(['praveen', 'gitam', 'java'])
dict_items([('name', 'praveen'), ('college', 'gitam'), ('course', 'java')])

In [ ]:
n=int(input("enter the range"))
a=[]
for i in range(n):

  d={}
  d["name"]=input("student name")
  d["roll"]=input("enter rollno")
  d["section"]=input("enter section")
  a.append(d)
print(a)

enter the range2
student namepv
enter rollno24
enter section23
student nameipv
enter rollno24
enter section23 4
[{'name': 'ipv', 'roll': '24', 'section': '23 4'}]

def add(x,y):
  return x+y
def add1(x,y):
  return x+y
print(add(10,20))
print(add1(20,30))

In [ ]:
def reverseDigits(num) : 
    rev = 0
    while (num > 0) : 
        rev = rev * 10 + num % 10
        num /= 10
    return rev 
def square(num) : 
    return (num * num)  
def checkAdamNumber(num) :   
    a = square(num) 
    b = square(reverseDigits(num)) 
    if (a == reverseDigits(b)) : 
        return True
    else : 
        return False
num = 13
if (checkAdamNumber(num)) : 
    print ("Adam Number")
else : 
    print ("Not a Adam Number")